@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --base-background: #f7efe5;
  --primary: #3b3b3b;
  --accent-primary: #d89f71;
  --accent-secondary: #a45d5d;
  --toggler-background: #d89f7185;
  --toggler-color: #a45d5d77;
  --toggler-border: #f7efe5cd;
  --book-text: #3b3b3b;
  --book-card-background: rgba(255, 255, 255, 0.3);
  --form-background: #d89f71;
}
[data-theme="dark"] {
  --base-background: #1c1f26;
  --primary: #dce0e6;
  --accent-primary: #56728e;
  --accent-secondary: #8da1b9;
  --toggler-background: #c5c4c4;
  --toggler-color: #56728eb1;
  --toggler-border: #f7efe5cd;
  --book-text: #dce0e6;
  --book-card-background: rgba(255, 255, 255, 0.3);
  --form-background: #56728e;
}
body {
  background-color: var(--base-background);
  font-family: "Poppins", sans-serif;
}
#overlay {
  transition: 0.3s ease-in-out;
}
#overlay.active {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  border-bottom-right-radius: 0px;
  top: 0;
  left: 0;
}
nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
  background: linear-gradient(
    90deg,
    var(--accent-primary),
    var(--accent-secondary)
  );
  border-radius: 16px;
  backdrop-filter: blur(5.2px);
  color: var(--primary);
  overflow: hidden;
}

nav::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    var(--accent-secondary),
    var(--accent-primary)
  );
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

nav:hover::before {
  opacity: 1;
}

#theme_toggler {
  width: 1.5rem;
  cursor: pointer;
}
#add_book_btn {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--base-background);
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    var(--accent-secondary),
    var(--accent-primary)
  );
  color: var(--primary);
  font-size: 2rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  position: fixed;
  right: 12%;
  bottom: 4%;
}
#add_book_btn:hover {
  transform: rotate(-180deg) scale(1.2);
  cursor: pointer;
}
main {
  position: relative;
  height: 80vh;
  width: 80%;
  margin: auto;
  scrollbar-width: none;
  overflow-y: auto;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    var(--accent-primary),
    var(--accent-secondary)
  );
  padding: 20px;
}
form {
  position: absolute;
  top: 100%;
  left: 100%;
  opacity: 0;
  transform: scale(0.1) rotate(90deg);
  transition: 0.5s ease-in-out;
}
form.active {
  background-color: var(--form-background);
  color: var(--primary);
  font-size: 1rem;
  max-height: 40vh;
  max-width: 30vh;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  opacity: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form.active.form_error {
  border: 2px solid red;
  animation: formError 0.3s ease-in-out;
}

.form_title {
  font-size: 1.1rem;
  margin: auto;
  font-weight: 500;
}
form div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
form input {
  grid-column: 2/-1;
}
form div label.mark_as_read {
  grid-column: span 2;
}
form input[type="checkbox"] {
  grid-column: 3;
  justify-self: end;
}
form button {
  margin: auto;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid transparent;
  color: var(--primary);
  font-weight: 500;
  background-color: transparent;
  border: 2px solid var(--accent-secondary);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
form button:hover {
  background-color: var(--accent-secondary);
}
#grid_wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.book_card {
  background: var(--book-card-background);
  border-radius: 16px;
  border: 1px solid var(--book-card-background);
  border-radius: 15px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--book-text);
  padding: 20px;
}
.book_title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}
.author {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.pages {
  font-size: 0.8rem;
}
.remove_book {
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 5px 10px;
  background-color: var(--accent-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  color: var(--primary);
  transition: 0.3s ease-in-out;
}
.remove_book:hover {
  background-color: var(--accent-secondary);
}
.toggler_container {
  display: flex;
  gap: 10px;
  align-items: center;
  align-self: flex-end;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.toggler_container label {
  font-size: 0.8rem;
}
.toggle_switch {
  width: 40px;
  padding: 2px;
  height: 22px;
  background-color: var(--toggler-background);
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: 1px solid var(--toggler-border);
}
.circle {
  width: 16px;
  height: 16px;
  background-color: var(--toggler-color);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.circle.active {
  transform: translateX(18px);
  background-color: var(--accent-secondary);
}

@keyframes spring {
  0% {
    transform: scale(1) translateY(0);
  }
  25% {
    transform: scale(1.2) translateX(-10px);
  }
  50% {
    transform: scale(0.9) translateX(20px);
  }
  75% {
    transform: scale(1.1) translateX(18px);
  }
  100% {
    transform: scale(1) translateX(18px);
  }
}
@keyframes formError {
  0% {
    border: 2px solid red;
  }
  25% {
    border: 5px solid red;
  }
  50% {
    border: 2px solid red;
  }
  75% {
    border: 5px solid red;
  }
  100% {
    border: 2px solid red;
  }
}
@media (max-width: 800px) {
  #grid_wrapper {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
