@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --base-background: #f7efe5;
  --primary: #3b3b3b;
  --secondary: #6c6c6c;
  --accent-primary: #d89f71;
  --accent-secondary: #a45d5d;
}
[data-theme="dark"] {
  --base-background: #1c1f26;
  --primary: #dce0e6;
  --secondary: #a3a8b3;
  --accent-primary: #56728e;
  --accent-secondary: #8da1b9;
}
body {
  background-color: var(--base-background);
  font-family: "Poppins", sans-serif;
}
nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
  background: linear-gradient(
    90deg,
    var(--accent-primary),
    var(--accent-secondary)
  );
  border-radius: 16px;
  backdrop-filter: blur(5.2px);
  color: var(--primary);
  overflow: hidden;
}

nav::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    var(--accent-secondary),
    var(--accent-primary)
  );
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

nav:hover::before {
  opacity: 1;
}
#filters_container ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
#theme_toggler,
#filters {
  width: 1.5rem;
}
#add_book_btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    var(--accent-secondary),
    var(--accent-primary)
  );
  border: none;
  color: var(--primary);
  font-size: 2rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  position: fixed;
  right: 10%;
  bottom: 5%;
}
#add_book_btn:hover {
  transform: rotate(-180deg) scale(1.2);
  cursor: pointer;
}
